/* Navbar container */
.navbar {
  width: 100%;
  height: 80px;            

  display: flex;
  justify-content: center;  
  align-items: center;            

  border-bottom: 1px solid #ddd; 
}

/* Logo */
.navbar-logo {
  height: 90px;            
  max-width: 90%;
  margin-top: 5px;
  object-fit: contain;       
}
