
/*The main body the elements sit in styles:*/
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;           
    max-width: 1200px;     
    padding: 0.75rem;
    margin: 0 25px;
        
    border-radius: 10px;
    background-color: rgb(125, 171, 172);
}

.container h2 {
    margin-top: 5px;
}

.container p{
    margin:0px;
}

/*Form containing all the buttons - grid to fit elements in and resize*/
.search-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    gap: 0.75rem;
}

/*Postcode Search Styling*/
.form-field {
    padding: 0.6rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #fff;
}


/* mobile: stack items vertically and increase padding */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        gap: 0.75rem;
    }
}