.favourite-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    margin-right: 1.5rem;   
    box-sizing: border-box;
}

.favourite-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.top-bar{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 3rem;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Soft "floating" effect */
}

.top-bar h3 {
    margin: 0;       
}

.image-wrapper {
    position: relative;
    width: 100%;
    
}

.favourites{
    width: 70%;
    background-color: rgb(253, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}


.favourite-img{
    width: 100%;             
    height: auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
                0 1px 3px rgba(0, 0, 0, 0.12);
}

.heart-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    filter: invert(30%) sepia(85%) saturate(6000%) hue-rotate(340deg) brightness(95%) contrast(90%);
}

.item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom:0.9rem;
    width: 100%;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
                0 1px 3px rgba(0, 0, 0, 0.12);
  
}

.item-details > p{
    margin:0;
}

/*Remove all btn styling*/
.remove-all {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top:1.5rem;
    margin-bottom:0.5rem;
}

.remove-favourite-btn {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.remove-favourite-btn:hover {
    background-color: #c9302c;
}


@media (max-width: 1100px) {
 .favourite-body {
    width: 100%;     
   
}

 .top-bar{
    display: none;
 }
}