.favourite-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40%;
    margin-right: 1.5rem;

   
    box-sizing: border-box;
}

.favourite-panel{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.top-bar{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 3rem;

    border: 1px solid #eaeaea;
   
    

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Soft "floating" effect */
}

.top-bar h3 {
    margin: 0;       
}

.favourites{
    width: 70%;
    background-color: rgb(253, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.favourites > img{
    width: 100%;             
    height: auto;
    object-fit: cover;
    
}

/**
display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center; 
    text-align: center;    
    padding: 1rem;          
*/