.favourite-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    margin-right: 1.5rem;

   
    box-sizing: border-box;
}

.favourite-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.top-bar{
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 3rem;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Soft "floating" effect */
}

.top-bar h3 {
    margin: 0;       
}

.image-wrapper {
    position: relative;
    width: 100%;
    
}

.favourites{
    width: 70%;
    background-color: rgb(253, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.favourite-img{
    width: 100%;             
    height: auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
                0 1px 3px rgba(0, 0, 0, 0.12);
}

.heart-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom:0.9rem;
    width: 100%;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
                0 1px 3px rgba(0, 0, 0, 0.12);
  
}

.item-details > p{
    margin:0;
}