/* Navbar container */
.navbar {
  width: 100%;
          

  display: flex;
  justify-content: center;  
  align-items: center;            

  border-bottom: 1px solid #ddd; 
}

/* Logo */
.navbar-logo {
  height: 90px;            
  max-width: 90%;
  object-fit: contain;       
}
