.parent-container{ /*Holds all the elements*/
    display: flex;
    flex-direction: column;
    width: 50%;
}

/*Swiper Gallery Styles*/
.imageWrapper {
    width: 100%;
}

.main-slider {
    width: 100%;
    height: 55vh; /* Matches your original design intent */
    border-radius: 8px;
    overflow: hidden;
}

.main-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.thumb-slider {
    margin-top: 10px;
    height: 120px; /* Specific height for thumbnails */
}

.thumb-slider .swiper-slide {

    cursor: pointer;
}

.thumb-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.thumb-slider .swiper-slide-thumb-active img {
    opacity: 1;
    border: 2px solid #007bff; /* Highlights selected thumbnail */
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffffff; /* black */

}

/* Inactive dots */
.swiper-pagination-bullet {
    background: #000;
    opacity: 0.4; /* optional */
}

/* Active dot */
.swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
}

/* Property Information */

.address{ /*Give space at bottom and top to look nice*/
    padding-top:5px;
    padding-bottom:5px;
}

.property-info{
    display: flex;
    gap:1rem;
    padding-bottom:10px;
}

.property-info > p { /*Make the boxes have same design as in the page before (design consistency!)*/
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
    padding: 0.25rem;
    margin:0px;
    margin-bottom: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
                0 1px 3px rgba(0, 0, 0, 0.12);
}

.react-tabs-wrapper{
    margin-top: 20px;
    margin-bottom: 90px;
}


.floorplan-image {
  width: 100%;
  max-height: 600px;
  max-width: 800px;
  height: auto;
  object-fit: contain;
}


/*Makes the parent fit the entire screen width on smaller screens ( no blank space on sides apart from slight margin for design)*/
@media (max-width:900px) {
   .parent-container{
    width:100%
   }

   .information{
    margin-left: 15px;
   }

   .react-tabs-wrapper{
    margin-left: 15px;
    margin-right:15px;
   }
}