.property-container{
    
    width: 60%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.property-card{
    display: flex;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width:100%;
    gap:1rem;
    margin-bottom: 20px;
}

.property-link{
    display: block;
    flex-shrink: 0;
}

.property-img{
    width: 100%;             
    height: 100%;
    object-fit: contain;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.right-box{
    display: flex;
    flex-direction: column;
}

.info-box{
    cursor: pointer;
}

.property-details{
    display: flex;
    gap:1rem;
}

.price{
    font-size:2rem;
    margin-top:15px;
    margin-bottom: 5px;
}

.address{
    margin:0px;
    margin-bottom: 12px;
}

.property-details > p {
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
    padding: 0.25rem;
    margin:0px;
    margin-bottom: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
                0 1px 3px rgba(0, 0, 0, 0.12);
}

.bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-top: 2rem;     
    padding-right: 0.5rem;
    padding-bottom:0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.bottom-icon {
    width: 1.5rem;          
    height: 1.5rem;
    cursor: pointer;
    flex-shrink: 0;            
}



@media (max-width: 900px) {
 .property-container{
    width:100%;
 }
}
