


/*The main body the elements sit in styles:*/
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;           
    max-width: 1200px;     
    padding: 0.75rem;
    margin: 0 25px;
        
    border-radius: 10px;
    background-color: rgb(125, 171, 172);
    background-color:   rgb(175, 176, 176);
}

.container h2 {
    margin-top: 5px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-seri;
    font-weight: bold;



}

.container p{
    margin:0px;
    margin-bottom: 5px;
}

/*Form containing all the buttons - grid to fit elements in and resize*/
.search-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.2rem;
    width: 100%;
    align-items: center;
}

/*Styles all inputs in the form (AFTER ADDING REACT WIDGETS IT NOW ONLY STYLES TWO THINGS)*/
.form-field {
    
    color: #495057;                
    background-color: #fff;         
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
    background-clip: padding-box;
    

    padding: 0.535rem 0.75rem;
    font-size: 1rem;
   
    border: 1px solid #ccc;          
    border-radius: 4px;                 
    width: 100%;
                    
    box-sizing: border-box;
    outline: none;

   
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

/*Mobile*/
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        gap: 0.75rem;
    }
}

/*Input/Button specific styles below*/

/*Price range styling*/
.price-range-wrapper{
    display: flex;
    align-items: center;      
    gap: 0.5rem;             
}

/*Search button styling*/
#search-button .form-field{
  margin-top: 20px; /*Manually pushing the button down*/
  min-height: 50px;
  background-color: rgb(79, 232, 79);
  font-weight: bold;
 
}