/*The main body the elements sit in styles:*/
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;           
    max-width: 1200px;     
    padding: 0.75rem;
    margin: 0 auto;
    margin-left: 1rem;
    margin-right:1rem;
        
    border-radius: 15px;
 
    
    background-color: rgba(198, 198, 198, 0.8); /* semi-transparent white */
    backdrop-filter: blur(10px);  /* soft blur effect behind card */
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); /* subtle floating shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* soft edge highlight */

}

.container h2 {
    margin-top: 5px;
    font-weight: bold
}

.container p{
    margin:0px;
    margin-bottom: 5px;
}

/*Form containing all the buttons - grid to fit elements in and resize*/
.search-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.2rem;
    width: 100%;
    align-items: center;
}

/*Mobile*/
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        gap: 0.75rem;
    }
}

/*Input/Button specific styles below*/

.bedrooms-range-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bedrooms-input{
    display: flex;
    flex-direction: column;
}

.bedrooms-range-wrapper .form-button {
  flex: 1;
}

/*Price range styling*/
.price-range-wrapper{
    display: flex;
    align-items: center;      
    gap: 0.5rem;             
}

/*Search button styling*/
#search-button .form-field{
  margin-top: 20px; /*Manually pushing the button down*/
  min-height: 50px;
  background-color: rgb(0, 158, 0);
  font-weight: bold;
  color: black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
  background-clip: padding-box;
  padding: 0.535rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;          
  border-radius: 8px;                 
  width: 100%;
}